# Analýza dat: Meteorologická data

## Meterologická data z pražského Klementina (1775)

In [ ]:
import pandas as pd
from temperature_analytics import TemperatureAnalytics
%matplotlib inline


# Načtení dat z Excel souboru
data_path = 'data/klementinum.xlsx'  # Upravte cestu k vašemu souboru
data_sheet_name = 'data'
temperature_data = pd.read_excel(data_path, sheet_name=data_sheet_name)
month = ['leden', 'únor', 'březen', 'duben', 'květen', 'červen', 'červenec', 'srpen', 'září', 'říjen', 'listopad',
             'prosinec']
temperature_analytics = TemperatureAnalytics(temperature_data)

C:\Users\student\AppData\Local\Temp\ipykernel_5636\3388460627.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Průměrná teplota v určitém roce

## Vstupní data
- Rok celé číslo v rozsahu 1775 až 2022

In [2]:
            while (True):
                year_input = int(input("Zadejte rok (1775-2022):"))
                average_temp = temperature_analytics.get_average_temperature(year_input)

                if average_temp is not None:
                    print(f"Průměrná teplota v roce {year_input}: {average_temp}°C")
                    break

Zadejte rok (1775-2022): 2000

Průměrná teplota v roce 2000: 11.96°C

# Minimální a maximální teplota v roce

## Vstupní data
- Rok celé číslo v rozsahu 1775 až 2022

In [ ]:
 while (True):
                year_input = int(input("Zadejte rok (1775-2022):"))
                max_temp, date_max = temperature_analytics.get_max_temperature(year_input)
                min_temp, date_min = temperature_analytics.get_min_temperature(year_input)
                if max_temp is not None:
                    print(
                        f"Maximální teplota v roce {year_input}: {max_temp}°C, datum: {date_max['den']}.{date_max['měsíc']}.{date_max['rok']}")
                    print(
                        f"Minimální teplota v roce {year_input}: {min_temp}°C, datum: {date_min['den']}.{date_min['měsíc']}.{date_min['rok']}")
                    break
                else:
                    print("Špatně zadaný rok")

# Průměrné měsíční teploty v roce
## Vstupní data
- Rok celé číslo v rozsahu 1775 až 2022

In [ ]:
while(True):
                year_input = int(input("Zadejte rok (1775-2022):"))
                monthly = temperature_analytics.get_monthly_averages(year_input)
                if monthly is not None:
                    print(f"Teploty pro rok {year_input}")
                    for index, temp in monthly.items():
                        print(f"{month[index - 1].capitalize()} {temp} °C")
                    break

# Porovnání průměrné teploty dvou let 
## Vstupní data
- 2 Roky celé číslo v rozsahu 1775 až 2022

In [ ]:
            while (True):
                year1 = int(input("Zadejte rok (1775-2022):"))
                year2 = int(input("Zadejte druhý rok (1775-2022):"))
                year1_temp,year2_temp, comparsion, diff = temperature_analytics.compare_years(year1,year2)
                if year1_temp is not None:
                    print(f"Rok {year1} měl průměrnou teplotu {year1_temp} °C a rok {year2} měl průměrnou teplotu {year2_temp}°C. Rok {comparsion} má větší průměrnou teplotu o {diff}°C. ")
                    break

# Sezónní teploty
## Vstupní data
- 2 Roky celé číslo v rozsahu 1775 až 2022

In [ ]:
 while(True):
                year_input = int(input("Zadejte rok (1775-2022):"))
                jaro,leto,podzim,zima = temperature_analytics.seasons(year_input)
                if jaro is not None:
                    print(f"Průmerné sezónní teploty pro rok {year_input}.")
                    print(f"Jaro {jaro} °C \n"
                          f"Leto {leto} °C \n"
                          f"Podzim {podzim} °C\n"
                          f"Zima {zima} °C")
                    break

# Průměrná teplota měsíce 
## Vstupní data
-  měsíc v rozsahu 1 až 12

In [ ]:
 while (True):
                month_input = int(input("Zadejte číslo měsíce (1-12):"))
                monthly = temperature_analytics.average_monthly(month_input)
                if month is not None:
                    print(f"Pruměrná teplota v měsíci {month[month_input-1]} je {monthly} °C")
                    break
                print("Špatně zadané roky")

# Vykreslení teplot období
## Vstupní data
- 2 Roky celé číslo v rozsahu 1775 až 2022

In [ ]:
            while (True):
                year_start = int(input("Zadejte rok (1775-2022):"))
                year_end = int(input("Zadejte druhý rok (1775-2022):"))
                if year_start >= 1775 and year_end >= 1775 and year_start <= 2022 and year_end <= 2022:
                    temperature_analytics.plot_annual_temperature_averages(year_start, year_end)
                    break
                print("Špatně zadané roky")

# Vykreslení maximálních a minimálních teplot v měsíci konkrétního roku
## Vstupní data
- Rok celé číslo v rozsahu 1775 až 2022
- měsíc v rozsahu 1 až 12

In [ ]:
            while (True):
                rok = int(input("Rok (1775-2022):"))
                mesic = int(input("Zadejte mesic (1,12):"))
                if (mesic >= 1 and mesic <= 12 )and( rok >= 1775 and rok <= 2022):
                    temperature_analytics.plot_max_and_min_temp(mesic,rok)
                    break
                print("Špatně zadané roky")